body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100%;
}
.App{
  display: flex;
  height: 100%;
  background-color: #f4f4f9;
}
.sidebar{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 3rem;
  padding-top: 7rem;
  gap: 10px;
  background-color:#2f4550;
  box-shadow: rgba(54, 95, 129, 0.2) 0px 7px 29px 0px;
}
.content{
  flex: 5;
  
  background-color: white;
  margin: 6rem;
  box-shadow: rgba(54, 95, 129, 0.2) 0px 7px 29px 0px;
  border-radius: 2rem;
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: ;
  gap: 2rem;
}
.products{
  flex: 1;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  height: 70%;
  padding: 3rem;
}
.product-table{
  border: 1px solid lightgrey;
  padding: .5rem;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: small;
}

a{
  text-decoration: none;
  color: white;
  display: flex;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
}
h2{
  color: #586f7c;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}
button{
  background-color:#1b4965 ;
  border: none;
  border-radius: 5px;
  color:white;
  
  width: 6rem;
  padding: 2px;
}
form{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
  font-family: 'Poppins', sans-serif;
}
table{
  width: 100%;
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 60%;
}
input,select{
  border: none;
  padding: .5rem;
  border-bottom: 1px solid grey;
  width: 80%;
}
.disabled{
  color: lightgray;
}
.error-message{
  color: red;
}
.success-message{
  color: green;
}